@mixin dark-scheme {
  /* Sidebar */
  --site-title-color: #919090;
  --site-subtitle-color: #8d8c8b;
  --sidebar-bg: radial-gradient(circle, #242424 0%, #1d1f27 100%);
  --sidebar-muted-color: #8d8c8b;
  --sidebar-active-color: rgb(255, 255, 255, 0.95);
  --sidebar-hover-bg: rgb(54, 54, 54, 0.33);
  --sidebar-btn-bg: rgb(84, 83, 83, 0.3);
  --sidebar-btn-color: #989898;
  --avatar-border-color: rgb(206, 206, 206, 0.9);
}
